<%- include ('templates/header'); -%>
<%- include ('templates/navbar'); -%>

<div class="backgroundAbout">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">An educational website that provides free quizzes for students.</p>
                        <p class="aboutus-title">The student is able to test their knowledge on core subjects!</p>
                        <!--<a class="aboutus-more" href="#">read more</a>-->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <!--<span class="glyphicon glyphicon-cog icon"></span>-->
                                </div>
                                <div class="feature-content">
                                    <h4>Available Grades</h4>
                                    <p>1st-6th grade</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <!--<span class="glyphicon glyphicon-cog icon"></span>-->
                                </div>
                                <div class="feature-content">
                                    <h4>Available Subjects</h4>
                                    <p>English, Mathematics, and Science</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <!--<span class="glyphicon glyphicon-cog icon"></span>-->
                                </div>
                                <div class="feature-content">
                                    <h4>BackGround Customizing</h4>
                                    <p>Student is able to customize their own background once creating an account, only if they get good scores on their quizzes!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include ('templates/footer'); -%>