<%- include ('templates/header'); -%>
<%- include ('templates/navbar'); -%>

<div class="container-fluid banner">
		<div class="row">
			<div class="col-md-8 offset-md-2 info" style="background-color:rgba(0,0,0,0.5);">
				<h1 style="color:white"class="text-center">ABout Page</h1>
				<p style="color:white"class="text-center">
					LEarn about us
				</p>
				<br><br>
			</div>
		</div>
	</div>

<%- include ('templates/footer'); -%>