<%- include ('templates/header'); -%>
<%- include ('templates/navbar'); -%>
  <body id = "backgroundEnglish">
    <div class="container">
    <!--<div class="row">-->
      <div class="text-center">
        <div class="form-science">
          <h3><span id="markImg4"></span> Which letters BEST complete the word? spar____</h3>
                <input type="radio" name="q1" id="kle" value="kle"> 
                <label for="kle"> a. kle</label> 
                <input type="radio" name="q1" id="kel" value="kel"> 
                <label for="kel"> b. kel</label> 
                <input type="radio" name="q1" id="kele" value="kele"> 
                <label for="kele"> c. kele</label> 

          <h3><span id="markImg4"></span> A person who is shy probably does NOT? </h3>
                <input type="radio" name="q2" id="talk a lot" value="talk a lot"> 
                <label for="talk a lot"> a. talk a lot</label> 
                <input type="radio" name="q2" id="like animals" value="like animals"> 
                <label for="like animals"> b. like animals</label> 
                <input type="radio" name="q2" id="have any friends" value="have any friends"> 
                <label for="have any friends"> c. have any friends</label> 
                <input type="radio" name="q2" id="get along with people" value="get along with people"> 
                <label for="get along with people"> d. get along with people</label>
          
          <h3><span id="markImg4"></span> Which letters complete the sentence I have to __ my homework? </h3>
                <input type="radio" name="q3" id="do" value="do"> 
                <label for="do"> a. do</label> 
                <input type="radio" name="q3" id="does" value="does"> 
                <label for="does"> b. does</label> 
                <input type="radio" name="q3" id="is" value="is"> 
                <label for="is"> c. is</label> 
                <input type="radio" name="q3" id="am" value="am"> 
                <label for="am"> d. am</label>
                
          <h3><span id="markImg4"></span> what is the past verb of speak? </h3>
                <input type="radio" name="q4" id="speaking" value="speaking"> 
                <label for="A black hole"> a. speaking</label> 
                <input type="radio" name="q4" id="spoke" value="spoke"> 
                <label for="spoke"> b. spoke</label> 
                <input type="radio" name="q4" id="speaker" value="speaker"> 
                <label for="speaker"> c. speaker</label> 
                <input type="radio" name="q4" id="talk" value="talk"> 
                <label for="A star"> d. talk</label>
                
          <h3><span id="markImg4"></span> Which letters complete the sentence She __ my friend? </h3>
                <input type="radio" name="q5" id="is" value="is"> 
                <label for="is"> a. is</label> 
                <input type="radio" name="q5" id="are" value="are"> 
                <label for="are"> b. are</label> 
                <input type="radio" name="q5" id="has" value="has"> 
                <label for="has"> c. has</label> 
                
          <br></br>
          <button class="btn btn-outline-success"> Submit Quiz </button>
          </div>
        <!--</div>-->
      </div>
    </div>
  </body>

<%- include ('templates/footer'); -%>