<%- include ('templates/header'); -%>
<%- include ('templates/navbar'); -%>

<div class="backgroundGrade1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">1st Grade</h2>
                        <p class="aboutus-text2">Student is able to test their knowlegde in core subjects so they can practice their 1st grade skills!</p>
                        <p class="aboutus-title">These quizzes are educational and fun for the student!</p>
                        <!--<a class="aboutus-more" href="#">TRY QUIZZES NOW</a>-->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <!--<span class="glyphicon glyphicon-cog icon"></span>-->
                                </div>
                                <div>
                                    <h4 class="aboutus-title">English</h4>
                                    <p class="aboutus-text2">A quiz that test student's english grammer to help understand how to formulate sentences.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <!--<span class="glyphicon glyphicon-cog icon"></span>-->
                                </div>
                                <div >
                                    <h4 class="aboutus-title">Mathematics</h4>
                                    <p class="aboutus-text2">A quiz that test student's math skills to help understand how to solve additon/subtraction problems.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <!--<span class="glyphicon glyphicon-cog icon"></span>-->
                                </div>
                                <div>
                                    <h4 class="aboutus-title">Science</h4>
                                    <p class="aboutus-text2">A quiz that test student's science skills to help understand animals, plants, and much more.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include ('templates/footer'); -%>