<%- include ('templates/header'); -%>
    <div class='container'>
        	<div class='jumbotron'>
        		<h3 class = "title"> E-Learner </h3> 
        		<br><br>
        		<a class='button btn' href='/login'>Login</a>
        		<a class='button btn' href='/register'>Register</a>
        	</div>
        </div>
        
        <a class='button btn' href='/adminLogin'>Admin</a>
<%- include ('templates/footer'); -%>