<%- include ('templates/navbar'); -%>

    <div class='container'>
    	<div class='jumbotron'>
    		<h1 class = "title"> ELearner </h1> <img id= "mouse" src= "https://img.abcmouse.com/fb/ABCmouse.jpg">
    		<br><br>
    		<a class='btn btn-primary' href='/login'>Login</a>
    		<a class='btn btn-primary' href='/register'>Register</a>
    	</div>
    </div>
        
    <a class='btn btn-primary' href='/adminLogin'>Admin Login</a>

<%- include ('templates/footer'); -%>