<%- include ('templates/header'); -%>
<%- include ('templates/navbar'); -%>
<body id = "backgroundHome">
    <div class="container-fluid banner">
		<div class="row">
			<div class="col-md-8 offset-md-2 info">
				<h1 style="color:black"class="text-center">Practice your SKILLS</h1>
				<p style="color:black"class="text-center">
					Quiz yourself!
				</p>
				<a href="/register" class="btn btn-md text-center">GET STARTED</a>
			</div>
		</div>
	</div>
</body>
<%- include ('templates/footer'); -%>