<%- include ('templates/header'); -%>
<%- include ('templates/navbar'); -%>
<body id = "backgroundHome">
    <div class="container-fluid"> <!-- banner will not let modal work  need help on this-->
		<div class="row">
			<div class="col-md-8 offset-md-2 info" style="background-color:rgba(0,0,0,0.5);">
				<h1 style="color:white"class="text-center">Take a quiz!</h1>
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
				
				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				      	<h4 class="modal-title" style="color: black;">Modal Header</h4>
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				      </div>
				      <div class="modal-body" style="color: black;">
				      	<form action="/quiz" method="POST">
				      		<label for="chooseDiff">Choose a difficulty:</label><br>
                            <input type="number" id="chooseDiff" name="chooseDiff" min="1" max="10" required><br>
                            <label for="chooseCat">Choose a category for your quiz:</label><br>
                            <select id="chooseCat" name="chooseCat" required>
                                <option value="Math">Math</option>
                                <option value="Science">Science</option>
                                <option value="English">English</option>
                            </select><br>
                            <label for="chooseGrade">Choose grade level</label><br>
                            <input type="number" id="chooseGrade" name="chooseGrade" min="1" max="6" required><br>
                            <label for="chooseNum">Choose number of questions</label><br>
                            <input type="number" id="chooseNum" name="chooseNum" min="1" max="6" required><br>
                            <button class="custombtn">Start Quiz</button>
				      	</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				
				  </div>
				</div>
				<!-- ENds Here -->
				<br><br>
				<a href="/user" class="btn btn-md text-center">User Profile</a>
			</div>
		</div>
	</div>
</body>
<%- include ('templates/footer'); -%>