<%- include ('templates/header'); -%>
    
    
    <%qList.forEach(function(q) {%>
        <h5> <%=q.question%></h5> <br>
        <input type="text" class="userInput" required> test for a branch
        <h5> <%=q.answer%></h5> <br>
    <% });%>
<%- include ('templates/footer'); -%>