<%- include ('templates/header'); -%>
<div class='container'>
	<div class='jumbotron'>
		<h3 class="title"> E-Learner </h3> <br>
		<h3 class='liltitle'> User Registration </h3>
        		<i class="fas fa-cheese"></i>
		<a class='button btn' href='/'>Home</a>
	</div>
	
	<form action='/register' method='POST'>
		<div class='form-group row' class='medTitle' >
			<!--<a class ='.medTitle'>-->
				<label for='email' class='col-sm-2 col-form-label'>Email</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='email' name='email' placeholder='email' required>
					<h4 id='takenEmail' name='takenEmail'></h4>
				</div>
			<!--</a>-->
		</div>
		<div class='form-group row' class='medTitle' >
			<!--<a class ='.medTitle'>-->
				<label for='username' class='col-sm-2 col-form-label'>Username</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='username' name='username' placeholder='username' required>
				</div>
			<!--</a>-->
		</div>
		<div class='form-group row' class='.medTitle'>
			<label for='password' class='col-sm-2 col-form-label'>Password</label>
			<div class='col-sm-4'>
				<input type='password' class='form-control' id='password' name='password' placeholder='****' required>
			</div>
		</div>
		
		<div class='form-group row'>
			<div class='col-sm-4'></div>
			<div class='col-sm-4'>
				<i class="fas fa-cheese"></i>
				<button class='button btn'>Register</button>
			</div>
			<div class='col-sm-4'></div>
		</div>
	</form>
</div>
<%- include ('templates/footer'); -%>