<%- include ('templates/header'); -%>
<%- include ('templates/navbar'); -%>
  <body id = "backgroundScience">
    <div class="container">
    <!--<div class="row">-->
      <div class="text-center">
        <div class="form-science">
          <h3><span id="markImg4"></span> What part of a bone builds new blood cells?</h3>
                <input type="radio" name="q1" id="Joints" value="Joints"> 
                <label for="Joints"> a. Joints</label> 
                <input type="radio" name="q1" id="Bone marrow" value="Bone marrow"> 
                <label for="Bone marrow"> b. Bone marrow</label> 
                <input type="radio" name="q1" id="Spongy bone" value="Spongy bone"> 
                <label for="Spongy bone"> c. Spongy bone</label> 
                <input type="radio" name="q1" id="Compact bone" value="Compact bone"> 
                <label for="Compact bone"> d. Compact bone</label>
          <!--Need for check the answer-->
          <div id="q4Feedback"></div>
          <h3><span id="markImg4"></span> Which law says that an object in motion will stay in motion unless another forces changes that? </h3>
                <input type="radio" name="q2" id="First law" value="First law"> 
                <label for="First law"> a. First law</label> 
                <input type="radio" name="q2" id="Second law" value="Second law"> 
                <label for="Second law"> b. Second law</label> 
                <input type="radio" name="q2" id="Third law" value="Third law"> 
                <label for="Third law"> c. Third law</label> 
                <input type="radio" name="q2" id="All" value="All"> 
                <label for="All"> d. All</label>
          
          <h3><span id="markImg4"></span> What is a scientist called who studies space in space? </h3>
                <input type="radio" name="q3" id="Astronaut" value="Astronaut"> 
                <label for="Astronaut"> a. Astronaut</label> 
                <input type="radio" name="q3" id="Biologist" value="Biologist"> 
                <label for="Biologist"> b. Biologist</label> 
                <input type="radio" name="q3" id="Paleontologist" value="Paleontologist"> 
                <label for="Paleontologist"> c. Paleontologist</label> 
                <input type="radio" name="q3" id="Physicist" value="Physicist"> 
                <label for="Physicist"> d. Physicist</label>
                
          <h3><span id="markImg4"></span> What is the Sun? </h3>
                <input type="radio" name="q4" id="A black hole" value="A black hole"> 
                <label for="A black hole"> a. A black hole</label> 
                <input type="radio" name="q4" id="Lots of lightning" value="Lots of lightning"> 
                <label for="Lots of lightning"> b. Lots of lightning</label> 
                <input type="radio" name="q4" id="A bright flashlight" value="A bright flashlight"> 
                <label for="A bright flashlight"> c. A bright flashlight</label> 
                <input type="radio" name="q4" id="A star" value="A star"> 
                <label for="A star"> d. A star</label>
                
          <h3><span id="markImg4"></span> What is a scientist called that studies living things? </h3>
                <input type="radio" name="q5" id="Geologist" value="Geologist"> 
                <label for="Geologist"> a. Geologist</label> 
                <input type="radio" name="q5" id="Engineer" value="Engineer"> 
                <label for="Engineer"> b. Engineer</label> 
                <input type="radio" name="q5" id="Paleontologist" value="Paleontologist"> 
                <label for="Paleontologist"> c. Paleontologist</label> 
                <input type="radio" name="q5" id="Biologist" value="Biologist"> 
                <label for="Biologist"> d. Biologist</label>
         
          <br></br>
          <button class="btn btn-outline-success"> Submit Quiz </button>
          </div>
        <!--</div>-->
      </div>
    </div>
  </body>

<%- include ('templates/footer'); -%>