<%- include ('templates/header'); -%>

    <div class = 'jumbotron'>
		<h1 class="title"> ELearner </h1> <br>
  		<h1 id = 'userName'><%=userInfo.username%></h1>
    </div>
  
    <div class = 'routes'>
        <a class='btn btn-primary' href='/home'>Home</a>
        <a class='btn btn-primary' href='/logout'>Log Out</a>
    </div>
    <br>
    
<%- include ('templates/footer'); -%>
